@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/BebasNeue/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/BebasNeue/BebasNeue-Bold.ttf");
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 860px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

header {
  min-height: 100vh;
  background: url("../images/bg_hero.png");
}

header .topNav .main-nav {
  z-index: 1;
}

header .topNav .main-nav p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.86rem;
  color: #3d2514;
}

header .topNav .main-nav a {
  color: #3d2514;
  font-family: 'BebasNeue', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 0.26rem;
}

header .bottomContent .hero__left {
  z-index: 1;
  padding: 8% 0;
  color: #3d2514;
}

header .bottomContent .hero__left p {
  font-family: 'BebasNeue', sans-serif;
  border: 2px dashed #3d2514;
  font-size: 1.2rem;
}

header .bottomContent .hero__left h1, header .bottomContent .hero__left h2 {
  font-family: 'Alfa Slab One', cursive;
  text-shadow: 4px 4px 5px rgba(255, 255, 255, 0.8);
}

header .bottomContent .hero__left h1 {
  font-size: 6.2rem;
}

@media only screen and (max-width: 576px) {
  header .bottomContent .hero__left h1 {
    font-size: 4.2rem;
  }
}

header .bottomContent .hero__left h2 {
  font-size: 3.4rem;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

@media only screen and (max-width: 576px) {
  header .bottomContent .hero__left h2 {
    font-size: 2.4rem;
  }
}

header .bottomContent .hero__right {
  margin-top: -120px;
  margin-left: -90px;
}

@media only screen and (max-width: 991px) {
  header .bottomContent .hero__right {
    margin-left: 0;
  }
}

header .bottomContent .hero__right img {
  width: 116%;
}

@media only screen and (max-width: 991px) {
  header .bottomContent .hero__right img {
    width: 90%;
  }
}

header .bottomContent .hero__right .burger_price {
  bottom: 8%;
  left: 10%;
  background-color: #ff2929;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

@media only screen and (max-width: 700px) {
  header .bottomContent .hero__right .burger_price {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    bottom: 5%;
  }
}

@media only screen and (max-width: 560px) {
  header .bottomContent .hero__right .burger_price {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    bottom: 3%;
  }
}

header .bottomContent .hero__right .burger_price .box {
  border: 2px dashed white;
  border-radius: 50%;
  padding: 4%;
}

header .bottomContent .hero__right .burger_price .box p {
  color: white;
  font-family: 'BebasNeue', sans-serif;
  font-weight: bold;
  text-align: center;
}

header .bottomContent .hero__right .burger_price .box p.price {
  font-size: 3.2rem;
}

header .bottomContent .hero__right .burger_price .box p.price span {
  font-size: 1.3rem;
  letter-spacing: 1.2px;
}

header .bottomContent .hero__right .burger_price .box p.text {
  font-size: 1.06rem;
  letter-spacing: 0.8rem;
  margin-top: -25px;
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
}

section#features img {
  width: 100%;
}

section#features .text {
  top: 20%;
  left: 8%;
  color: white;
  font-family: 'BebasNeue', sans-serif;
}

section#features .text h4 {
  font-size: 1.1rem;
}

section#features .text h3 {
  font-size: 2.2rem;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

section#features .text h3:nth-child(3) {
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

section#features .features_left .text {
  top: 11%;
  left: 10%;
}

section#showcase p {
  font-family: 'Montserrat', sans-serif;
  color: #3d2514;
  font-size: 0.8rem;
}

section#showcase .card-title {
  font-family: 'BebasNeue', sans-serif;
  font-size: 1.8rem;
  color: #3d2514;
}

section#events .box {
  -webkit-box-shadow: 5px 5px 20px 10px rgba(61, 37, 20, 0.1);
          box-shadow: 5px 5px 20px 10px rgba(61, 37, 20, 0.1);
}

section#events .box .slide-text:focus, section#events .box .slide-image:focus {
  outline: none;
}

section#events .box .slider_left .mainHeading h2 {
  font-size: 2.3rem;
}

section#events .box .slider_left .subHeading h3 {
  font-size: 1.8rem;
}

section#events .box .slider_left p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  line-height: 2;
}

section#events .box img {
  width: 100%;
}

section#reservation {
  background: url("../images/bg_reservation.png");
  background-size: cover;
}

section#reservation form {
  padding-bottom: 80px;
}

section#reservation form input {
  font-family: 'BebasNeue', sans-serif;
  font-size: 1.1rem;
  width: 360px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

section#reservation form input:focus {
  outline: none;
}

section#reservation form input.btnt3 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.1rem;
  border: none;
}

section#reservation form input.btnt3:hover {
  color: white;
}

footer .container {
  background: url("../images/bg_footer.png");
  background-size: cover;
  color: white;
}

footer .container .logo_white img {
  width: 300px;
}

footer .container .text_details p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  line-height: 1.7;
}

footer .container .contact_details {
  padding-bottom: 140px;
}

footer .container .contact_details i {
  font-size: 2rem;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  width: 70px;
}

footer .container .contact_details p {
  font-family: 'BebasNeue', sans-serif;
  font-size: 0.94rem;
  width: 200px;
}

footer .container .footer_credits .credit p {
  font-family: 'BebasNeue', sans-serif;
  font-size: 0.86rem;
}

footer .container .footer_credits .icons i {
  background: white;
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 1.4rem;
}

@media only screen and (min-width: 768px) {
  footer .container .footer_credits .icons i {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.btnt1 {
  background: #ffc045;
  color: #3d2514;
  font-family: 'BebasNeue', sans-serif;
  font-size: 1.1rem;
}

.btnt1:hover {
  color: #3d2514;
}

.btnt2, .btnt3 {
  background: #bf2222;
  color: white;
  font-family: 'Alfa Slab One', cursive;
  font-size: 0.7rem;
}

.btnt2:hover, .btnt3:hover {
  color: white;
}

.mainHeading h2 {
  font-family: 'Alfa Slab One', cursive;
  color: #3d2514;
  font-size: 2.8rem;
}

.subHeading h3 {
  font-family: 'BebasNeue', sans-serif;
  color: #3d2514;
  font-size: 1.8rem;
}

.u-big-11 {
  -webkit-transform: scale(1.1) translateY(-5%);
          transform: scale(1.1) translateY(-5%);
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 40px;
  list-style-type: none;
}

@media only screen and (max-width: 768px) {
  .slick-dots {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots button {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: lightgray;
  text-indent: -9999px;
}

.slick-dots button:focus {
  outline: none;
}

.slick-dots li.slick-active button {
  background-color: #ffc045;
}
/*# sourceMappingURL=main.css.map */