// V A R I A B L E S
$color-primary: #894aa3;

$color-bg-primary: #ebebea;
$color-bg-secondary: #d0d0d0;
$color-bg-ternary: #444444;
$color-bg-quaternary: #e6e6e6;

$color-text-primary: #666;
$color-text-secondary: #999;
$color-text-ternary: #333;

$std_width: 1140px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6, input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-primary;
}

p {
    color: $color-text-primary;
}


.container {
    max-width: $std_width;
    margin: auto;
    padding: 0 10px;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media only screen and (max-width: 1200px) {
        justify-content: space-evenly;
    }
    @media only screen and (max-width: 960px) {
       flex-direction: column;
       align-items: center;
    }
}


body {
    padding: 0 20px;
    background: $color-bg-secondary;
}


header {
    background: white;

    .bar {
        background-color: $color-primary;
        width: 100%;
        height: 10px;
    }
    .searchForm {
        form {
            text-align: right;
            position: relative;

            input {
                background-color: $color-bg-primary;
                font-size: 0.8rem;
                padding: 6px 12px;
                width: 260px;
                border: none;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
            button {
                position: absolute;
                top: 3px;
                right: 6px;
                border-radius: 50%;
                padding: 2px 3px;
                border: none;
                background: white;
                color: $color-primary;
            }
            input:focus, 
            button:focus {
                border: none;
                outline: none;
            }
        }
    }
    .row {
        padding-bottom: 30px;
        .left-logo{
            @media only screen and (max-width: 960px) {
                padding: 30px;
            }
            h1 {
                text-transform: uppercase;
                font-size: 1.7rem;
                font-weight: 400;
                color: $color-text-primary;
                span {
                    font-size: 2.3rem;
                }
                @media only screen and (max-width: 380px) {
                    font-size: 1.2rem;
                }
            }
            h4 {
                color: $color-text-secondary;
            }
        }
        .right-nav{
            margin-left: auto;
            margin-top: auto;
            @media only screen and (max-width: 960px) {
                margin: auto;
            }
            nav {
                ul {
                    li {
                        display: inline-block;
                        text-align: right;
                        padding-left: 30px;
                        @media only screen and (max-width: 680px) {
                            text-align: center;
                            padding: 20px 30px;
                        }
                        a {
                            text-transform: uppercase;
                            font-size: 0.9rem; 
                            color: $color-text-primary;

                            &:hover {
                                color: black;
                            }
                        }
                        &:first-child a {
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

section {
    background: $color-bg-primary;

    &#quote {
        box-shadow: inset 0 0 10px rgba($color: #000000, $alpha: 0.1);

        .container p {
            color: $color-text-ternary;
            text-align: center;
            font-size: 1.5rem;
            font-style: italic;
            padding: 25px 140px;
            line-height: 2.6rem;
            @media only screen and (max-width: 680px) {
                padding: 25px 40px;
            }

            span {
                display: inline-block;
                transform: translateY(40%);
            }
        }
    }

    &#slider {
        //margin-bottom: 100vh;

        .swiper-container {
            height: 380px;
            position: relative;
            @media only screen and (max-width: 480px) {
                height: 300px;
            }

            .swiper-wrapper .swiper-slide {
                background-size: cover;
                &.slide{
                    &1 {
                        background: url('../images/slider_1.jpg') center no-repeat;
                    }
                    &2 {
                        background: url('../images/slider_2.jpg') center no-repeat;
                    }
                    &3 {
                        background: url('../images/slider_3.jpg') center no-repeat;
                    }
                    &4 {
                        background: url('../images/slider_4.jpg') center no-repeat;
                    }
                    &5 {
                        background: url('../images/slider_5.jpg') center no-repeat;
                    }
                }
                .content {
                    width: 450px;
                    height: 120px;
                    background: rgba($color: #000000, $alpha: 0.8);
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    @media only screen and (max-width: 480px) {
                        width: 100%;
                    }
                    h2 {
                        color: white;
                        padding: 1rem;
                        font-weight: 400;
                    }
                    p {
                        color: white;
                        padding: 1rem;
                        padding-top: 0;
                        line-height: 1.8rem;
                    }
                }
            }
            .swiper-pagination {
                max-width: $std_width;
                margin-left: calc(((100% - #{$std_width}) / 2) + 10px);
                text-align: left;
                .swiper-pagination-bullet {
                    padding: 6px;
                    border: 2px solid $color-primary;
                }
                .swiper-pagination-bullet-active {
                    background: $color-primary;
                }
            }
            .swiper-button-prev,
            .swiper-button-next {
                color: $color-primary;
                background: rgba($color: #000000, $alpha: 0.4);
                border-radius: 50%;
                width: 60px;
                height: 60px;
            }
        }
    }

    &#people {
        background: white;
        .container .row {
            padding: 60px 0;
            .p {
                display: flex;
                width: 280px;
                @media only screen and (max-width: 960px) {
                    margin-top: 60px;
                    width: 60%;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                @media only screen and (max-width: 680px) {
                    width: 80%;
                }
                
                .left-icon {
                    margin-right: 10px;
                }
                .right-content {
                    h3 {
                        font-size: 1.08rem;
                        font-weight: 400;
                        padding: 9px;
                        padding-left: 0;
                        @media only screen and (max-width: 680px) {
                            font-size: 1.3rem;
                        }
                    }
                    p {
                        font-size: 0.9rem;
                        line-height: 1.4rem;
                        padding-right: 9px;
                        @media only screen and (max-width: 680px) {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }

    &#blog {
        .container .row {
            padding: 50px 0;

            .post {
                width: 280px;
                padding: 10px;
                background: white;
                text-align: center;
                @media only screen and (max-width: 960px) {
                    margin-top: 60px;
                    width: 60%;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                @media only screen and (max-width: 680px) {
                    width: 80%;
                }

                .top {
                    width: 260px;
                    height: 180px;
                    margin: auto;

                    @media only screen and (max-width: 430px) {
                        width: 100%;
                        padding: 0 10px;
                    }

                    img {
                        width: 100%;
                    }
                }

                h4 {
                    font-size: 1rem;
                    padding: 15px 5px 18px;
                    @media only screen and (max-width: 680px) {
                        font-size: 1.2rem;
                    }
                }

                p {
                    font-size: 0.9rem;
                    line-height: 1.4rem;
                    @media only screen and (max-width: 680px) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

footer {
    .top {
        background: white;
        .container .row {
            padding: 1.75rem 0;
            @media only screen and (max-width: 1200px) {
                justify-content: space-evenly;
            }
            @media only screen and (max-width: 960px) {
               flex-direction: row;
               align-items: center;
            }
            .p {
                width: 200px;
                position: relative;

                @media only screen and (max-width: 960px) {
                    width: 40%;
                    margin-top: 1.75rem;

                    &:first-child {
                        margin-top: 0;
                    }
                }
                @media only screen and (max-width: 680px) {
                    width: 80%;
                }

                h4 {
                    padding: 1.75rem 5px;
                    color: $color-text-primary;
                    font-size: 0.9rem;
                    text-transform: uppercase;

                    @media only screen and (max-width: 680px) {
                        //text-align: center;
                    }
                }
                h5 {
                    padding: 5px;
                    padding-top: 0;
                    color: $color-text-secondary;
                    font-size: 0.94rem;
                    font-weight: 900;
                }
                h6 {
                    padding: 0 5px 6px;
                    color: $color-text-secondary;
                    font-size: 0.7rem;
                }
                p {
                    padding: 5px;
                    padding-top: 0;
                    font-size: 0.84rem;
                    line-height: 1.54;
                    color: $color-text-secondary;

                    span {
                        font-size: 0.8rem;
                    }
                }

                ul {
                    li {
                        border-bottom: 1px solid $color-bg-primary;
                        padding: 5px;
                        padding-top: 0;
                        margin-bottom: 0.84rem;

                        a{
                            color: $color-text-secondary;
                            font-size: 0.9rem;
                        }
                    }
                }

                form {
                    input {
                        padding: 10px 12px;
                        border: none;
                        border-radius: 8px;
                        margin-bottom: 10px;
                        background: $color-bg-quaternary;
                    }
                    input[type="text"], 
                    input[type="email"] {
                        width: 100%;
                    }
                    input[type="submit"] {
                        padding: 8px 12px;
                        color: $color-primary;
                        font-weight: 900;
                    }
                }
            }
        }
    }
    .bottom {
        background: $color-bg-ternary;

        p {
            color: $color-bg-secondary;
            padding: 20px 5px;

            a{
                color: $color-bg-secondary;
                font-weight: 900;
            }
        }
    }
}
