// V A R I A B L E S
$color-primary: #894aa3;
$color-bg-primary: #ebebea;
$color-bg-secondary: #d0d0d0;

$color-text-primary: #666;
$color-text-secondary: #999;
$color-text-ternary: #333;

$std_width: 1180px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.container {
    max-width: $std_width;
    margin: auto;
}
.row {
    display: flex;
}


body {
    padding: 0 20px;
    background: $color-bg-secondary;
}


header {
    background: white;

    .bar {
        background-color: $color-primary;
        width: 100%;
        height: 10px;
    }
    .searchForm {
        form {
            text-align: right;
            position: relative;

            input {
                background-color: $color-bg-primary;
                font-size: 0.8rem;
                padding: 6px 12px;
                width: 260px;
                border: none;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
            button {
                position: absolute;
                top: 3px;
                right: 6px;
                border-radius: 50%;
                padding: 2px 3px;
                border: none;
                background: white;
                color: $color-primary;
            }
            input:focus, 
            button:focus {
                border: none;
                outline: none;
            }
        }
    }
    .row {
        padding-bottom: 30px;
        .left-logo{
            h1 {
                text-transform: uppercase;
                font-size: 1.7rem;
                font-weight: 400;
                color: $color-text-primary;
                span {
                    font-size: 2.3rem;
                }
            }
            h4 {
                font-weight: 100;
                color: $color-text-secondary;
            }
        }
        .right-nav{
            margin-left: auto;
            margin-top: auto;
            nav {
                ul {
                    li {
                        display: inline-block;
                        text-align: right;
                        padding-left: 30px;
                        a {
                            text-transform: uppercase;
                            font-size: 0.9rem;
                            color: $color-text-primary;

                            &:hover {
                                color: black;
                            }
                        }
                        &:first-child a {
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

section {
    background: $color-bg-primary;

    &#quote {
        box-shadow: inset 0 0 10px rgba($color: #000000, $alpha: 0.1);

        .container p {
            color: $color-text-ternary;
            text-align: center;
            font-size: 1.5rem;
            font-style: italic;
            padding: 25px 140px;
            line-height: 2.6rem;

            span {
                display: inline-block;
                transform: translateY(40%);
            }
        }
    }

    &#slider {
        //margin-bottom: 100vh;

        .swiper-container {
            height: 380px;
            position: relative;

            .swiper-wrapper .swiper-slide {
                background-size: cover;
                &.slide{
                    &1 {
                        background: url('../images/slider_1.jpg') center no-repeat;
                    }
                    &2 {
                        background: url('../images/slider_2.jpg') center no-repeat;
                    }
                    &3 {
                        background: url('../images/slider_3.jpg') center no-repeat;
                    }
                    &4 {
                        background: url('../images/slider_4.jpg') center no-repeat;
                    }
                    &5 {
                        background: url('../images/slider_5.jpg') center no-repeat;
                    }
                }
                .content {
                    width: 450px;
                    height: 120px;
                    background: rgba($color: #000000, $alpha: 0.8);
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    h2 {
                        color: white;
                        padding: 1rem;
                        font-weight: 400;
                    }
                    p {
                        color: white;
                        padding: 1rem;
                        padding-top: 0;
                        font-weight: 100;
                        line-height: 1.8rem;
                    }
                }
            }
            .swiper-pagination {
                max-width: $std_width;
                margin-left: calc((100% - #{$std_width}) / 2);
                text-align: left;
                .swiper-pagination-bullet {
                    padding: 6px;
                    border: 2px solid $color-primary;
                }
                .swiper-pagination-bullet-active {
                    background: $color-primary;
                }
            }
            .swiper-button-prev,
            .swiper-button-next {
                color: $color-primary;
                background: rgba($color: #000000, $alpha: 0.4);
                border-radius: 50%;
                width: 60px;
                height: 60px;
            }
        }
    }

    &#people {
        background: white;
        .container .row {
            justify-content: space-between;
            padding: 60px 0;
            .p {
                display: flex;
                width: 30%;
                
                .left-icon {
                    margin-right: 10px;
                }
                .right-content {
                    h3 {
                        color: $color-primary;
                        font-size: 1.08rem;
                        font-weight: 400;
                        padding: 9px;
                        padding-left: 0;
                    }
                    p {
                        color: $color-text-primary;
                        font-size: 0.9rem;
                        line-height: 1.4rem;
                    }
                }
            }
        }
    }

    
}