* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6, input {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  color: #894aa3;
}

p {
  color: #666;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 10px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 1200px) {
  .row {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media only screen and (max-width: 960px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body {
  padding: 0 20px;
  background: #d0d0d0;
}

header {
  background: white;
}

header .bar {
  background-color: #894aa3;
  width: 100%;
  height: 10px;
}

header .searchForm form {
  text-align: right;
  position: relative;
}

header .searchForm form input {
  background-color: #ebebea;
  font-size: 0.8rem;
  padding: 6px 12px;
  width: 260px;
  border: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

header .searchForm form button {
  position: absolute;
  top: 3px;
  right: 6px;
  border-radius: 50%;
  padding: 2px 3px;
  border: none;
  background: white;
  color: #894aa3;
}

header .searchForm form input:focus,
header .searchForm form button:focus {
  border: none;
  outline: none;
}

header .row {
  padding-bottom: 30px;
}

@media only screen and (max-width: 960px) {
  header .row .left-logo {
    padding: 30px;
  }
}

header .row .left-logo h1 {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 400;
  color: #666;
}

header .row .left-logo h1 span {
  font-size: 2.3rem;
}

@media only screen and (max-width: 380px) {
  header .row .left-logo h1 {
    font-size: 1.2rem;
  }
}

header .row .left-logo h4 {
  color: #999;
}

header .row .right-nav {
  margin-left: auto;
  margin-top: auto;
}

@media only screen and (max-width: 960px) {
  header .row .right-nav {
    margin: auto;
  }
}

header .row .right-nav nav ul li {
  display: inline-block;
  text-align: right;
  padding-left: 30px;
}

@media only screen and (max-width: 680px) {
  header .row .right-nav nav ul li {
    text-align: center;
    padding: 20px 30px;
  }
}

header .row .right-nav nav ul li a {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #666;
}

header .row .right-nav nav ul li a:hover {
  color: black;
}

header .row .right-nav nav ul li:first-child a {
  color: black;
}

section {
  background: #ebebea;
}

section#quote {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

section#quote .container p {
  color: #333;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  padding: 25px 140px;
  line-height: 2.6rem;
}

@media only screen and (max-width: 680px) {
  section#quote .container p {
    padding: 25px 40px;
  }
}

section#quote .container p span {
  display: inline-block;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

section#slider .swiper-container {
  height: 380px;
  position: relative;
}

@media only screen and (max-width: 480px) {
  section#slider .swiper-container {
    height: 300px;
  }
}

section#slider .swiper-container .swiper-wrapper .swiper-slide {
  background-size: cover;
}

section#slider .swiper-container .swiper-wrapper .swiper-slide.slide1 {
  background: url("../images/slider_1.jpg") center no-repeat;
}

section#slider .swiper-container .swiper-wrapper .swiper-slide.slide2 {
  background: url("../images/slider_2.jpg") center no-repeat;
}

section#slider .swiper-container .swiper-wrapper .swiper-slide.slide3 {
  background: url("../images/slider_3.jpg") center no-repeat;
}

section#slider .swiper-container .swiper-wrapper .swiper-slide.slide4 {
  background: url("../images/slider_4.jpg") center no-repeat;
}

section#slider .swiper-container .swiper-wrapper .swiper-slide.slide5 {
  background: url("../images/slider_5.jpg") center no-repeat;
}

section#slider .swiper-container .swiper-wrapper .swiper-slide .content {
  width: 450px;
  height: 120px;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 480px) {
  section#slider .swiper-container .swiper-wrapper .swiper-slide .content {
    width: 100%;
  }
}

section#slider .swiper-container .swiper-wrapper .swiper-slide .content h2 {
  color: white;
  padding: 1rem;
  font-weight: 400;
}

section#slider .swiper-container .swiper-wrapper .swiper-slide .content p {
  color: white;
  padding: 1rem;
  padding-top: 0;
  line-height: 1.8rem;
}

section#slider .swiper-container .swiper-pagination {
  max-width: 1140px;
  margin-left: calc(((100% - 1140px) / 2) + 10px);
  text-align: left;
}

@media only screen and (max-width: 1280px) {
  section#slider .swiper-container .swiper-pagination {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 960px) {
  section#slider .swiper-container .swiper-pagination {
    margin-left: 12%;
  }
}

@media only screen and (max-width: 680px) {
  section#slider .swiper-container .swiper-pagination {
    display: none;
  }
}

section#slider .swiper-container .swiper-pagination .swiper-pagination-bullet {
  padding: 6px;
  border: 2px solid #894aa3;
}

section#slider .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #894aa3;
}

section#slider .swiper-container .swiper-button-prev,
section#slider .swiper-container .swiper-button-next {
  color: #894aa3;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

section#people {
  background: white;
}

section#people .container .row {
  padding: 60px 0;
}

section#people .container .row .p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
}

@media only screen and (max-width: 960px) {
  section#people .container .row .p {
    margin-top: 60px;
    width: 60%;
  }
  section#people .container .row .p:first-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 680px) {
  section#people .container .row .p {
    width: 80%;
  }
}

section#people .container .row .p .left-icon {
  margin-right: 10px;
}

section#people .container .row .p .right-content h3 {
  font-size: 1.08rem;
  font-weight: 400;
  padding: 9px;
  padding-left: 0;
}

@media only screen and (max-width: 680px) {
  section#people .container .row .p .right-content h3 {
    font-size: 1.3rem;
  }
}

section#people .container .row .p .right-content p {
  font-size: 0.9rem;
  line-height: 1.4rem;
  padding-right: 9px;
}

@media only screen and (max-width: 680px) {
  section#people .container .row .p .right-content p {
    font-size: 1.1rem;
  }
}

section#blog .container .row {
  padding: 50px 0;
}

section#blog .container .row .post {
  width: 280px;
  padding: 10px;
  background: white;
  text-align: center;
}

@media only screen and (max-width: 960px) {
  section#blog .container .row .post {
    margin-top: 60px;
    width: 60%;
  }
  section#blog .container .row .post:first-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 680px) {
  section#blog .container .row .post {
    width: 80%;
  }
}

section#blog .container .row .post .top {
  width: 260px;
  height: 180px;
  margin: auto;
}

@media only screen and (max-width: 430px) {
  section#blog .container .row .post .top {
    width: 100%;
    padding: 0 10px;
  }
}

section#blog .container .row .post .top img {
  width: 100%;
}

section#blog .container .row .post h4 {
  font-size: 1rem;
  padding: 15px 5px 18px;
}

@media only screen and (max-width: 680px) {
  section#blog .container .row .post h4 {
    font-size: 1.2rem;
  }
}

section#blog .container .row .post p {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

@media only screen and (max-width: 680px) {
  section#blog .container .row .post p {
    font-size: 1rem;
  }
}

footer .top {
  background: white;
}

footer .top .container .row {
  padding: 1.75rem 0;
}

@media only screen and (max-width: 1200px) {
  footer .top .container .row {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media only screen and (max-width: 960px) {
  footer .top .container .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .top .container .row .p {
  width: 200px;
  position: relative;
}

@media only screen and (max-width: 960px) {
  footer .top .container .row .p {
    width: 40%;
    margin-top: 1.75rem;
  }
  footer .top .container .row .p:first-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 680px) {
  footer .top .container .row .p {
    width: 80%;
  }
}

footer .top .container .row .p h4 {
  padding: 1.75rem 5px;
  color: #666;
  font-size: 0.9rem;
  text-transform: uppercase;
}

footer .top .container .row .p h5 {
  padding: 5px;
  padding-top: 0;
  color: #999;
  font-size: 0.94rem;
  font-weight: 900;
}

footer .top .container .row .p h6 {
  padding: 0 5px 6px;
  color: #999;
  font-size: 0.7rem;
}

footer .top .container .row .p p {
  padding: 5px;
  padding-top: 0;
  font-size: 0.84rem;
  line-height: 1.54;
  color: #999;
}

footer .top .container .row .p p span {
  font-size: 0.8rem;
}

footer .top .container .row .p ul li {
  border-bottom: 1px solid #ebebea;
  padding: 5px;
  padding-top: 0;
  margin-bottom: 0.84rem;
}

footer .top .container .row .p ul li a {
  color: #999;
  font-size: 0.9rem;
}

footer .top .container .row .p form input {
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #e6e6e6;
}

footer .top .container .row .p form input[type="text"],
footer .top .container .row .p form input[type="email"] {
  width: 100%;
}

footer .top .container .row .p form input[type="submit"] {
  padding: 8px 12px;
  color: #894aa3;
  font-weight: 900;
}

footer .bottom {
  background: #444444;
}

footer .bottom p {
  color: #d0d0d0;
  padding: 20px 5px;
}

footer .bottom p a {
  color: #d0d0d0;
  font-weight: 900;
}
/*# sourceMappingURL=style.css.map */