//https://fonts.google.com/specimen/Lora?selection.family=Karla:ital,wght@0,400;0,700;1,400;1,700|Lora:ital@1|Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800|Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900|Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&query=lora&sidebar.open=true

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital@1&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


// VARIABLES


$color-primary: #29c2e1;
$color-primary-light: #e5eef0;
$color-secondary: #f7941d;
$color-tertiary: #d8e3e6;
$color-quaternary: #b3cacf;
$color-quinary: #e6edee;

$color-text-primary: #55595f;
$color-text-secondary: #93a1a7;
$color-text-tertiary: #23282f;
$color-text-quaternary: #adbdc1;




p {
    font-family: 'Open Sans', sans-serif;
    color: $color-text-primary;
    font-size: 0.86rem;
    line-height: 1.8;
}
h2, h3, h4 {
    color: $color-text-tertiary;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
}
h4 {
    font-family: 'Karla', sans-serif;
}

header {
    .topInfoBar {
        background: $color-primary-light;
        color: $color-text-secondary;
        h4 {
            font-size: 0.8125rem;

            &.br {
                border-right: 2px solid $color-tertiary;
            }

            i {
                font-size: 1.1rem;
                transform: translateY(20%);
            }
        }
    }
    .topNavBar {
        a {
            font-family: 'Karla', sans-serif;
            color: $color-text-secondary;
            font-size: 0.91rem;

            &.active {
                color: $color-text-tertiary;
            }
        }
        
    }
    .heroCarousel .slider .slide{
        min-height: 100vh;

        h1, p {
            color: white;
        }
        h1 {
            font-size: 3.6rem;
        }
        p {
            font-family: 'Raleway', sans-serif;
        }

        &:focus {
            outline: none;
        }

        &.slide-1 {
            background: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/bg_hero_1.jpg');
            background-size: cover;
        }
        &.slide-2 {
            background: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/bg_hero_2.jpg');
            background-size: cover;
        }
        &.slide-3 {
            background: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/bg_hero_3.jpg');
            background-size: cover;
        }
    }
}


section#startup i, 
section#features i {
    font-size: 1.9rem;
    background-color: $color-primary-light;
    height: 60px;
    width: 56px;
    padding: 14px 5px;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $color-secondary;
        color: white;
    }
}

section#testimonial {
    background: $color-primary-light;

    i {
        color: $color-text-tertiary;
        font-size: 3.4rem;
    }

    p {
        &.quoteTop {
            font-family: 'Lora', serif;
            font-size: 0.9375rem;
            line-height: 1.6;
        }
        &.quoteBottom {
            font-family: 'Karla', sans-serif;

            span {
                color: $color-secondary;
            }
        }
    }

    .slider_right {
        max-width: 494px;
        
        img {
            width: 132px;
            height: 132px;
            border-radius: 50%;
        }
    }

    .slide:focus {
        outline: none;
    }

    .slick-dots {
        position: relative;
        margin-top: 1.8rem;
    
        button {
            background: $color-quaternary;
            border: 2px solid $color-quaternary;
        }
    
        li.slick-active button {
            background: $color-primary;
            border: 2px solid $color-primary;
        }
    }
}


section#features {
    .container {
        border-bottom: 1px solid $color-primary-light;

        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            
            clip-path: polygon(50% 0, 100% 100%, 0 100%);
        }

        &::before {
            right: 0;
            background: $color-secondary;

            height: 6.875rem;
            width: 8.5rem;
        }

        &::after {
            right: 6.625rem;
            background: $color-primary;

            height: 5rem;
            width: 6.625rem;
        }

        .col-md-6 {
            i {text-align: center;}
            
            &:nth-child(1) i {
                padding: 16px 14px;
            }
            &:nth-child(2) i {
                padding: 15px 10px;
            }
            &:nth-child(3) i {
                padding: 15px 12px;
            }
            &:nth-child(4) i {
                padding: 16px 12px;
            }
            &:nth-child(5) i {
                padding: 17px 12px;
            }
            &:nth-child(6) i {
                padding: 16px 14px;
            }
        }
    }
}


section#pricing .card  {
    border: 1px solid $color-quinary;
    //border: 1px solid black; // TEST BORDER
    border-radius: 0;
    box-shadow: 0 0 30px 0 rgba($color: #000000, $alpha: 0.1);

    .planName {
        border-bottom: 1px solid $color-quinary;
        h4 {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;

            &:after {
                content: "";
                width: 3rem;
                height: 1px;

                position: absolute;
                bottom: -1px;
                left: 0;

                background: $color-secondary;
            }
        }
    }
    .price {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        border-bottom: 1px solid $color-quinary;
        span {
            color: $color-secondary;
        }
    }


    .business{
        position: absolute;
        top: 1.5rem;
        left: -1.86rem;
        background: $color-secondary;
        padding: 6px 30px;
        clip-path: polygon(19.8% 0, 80.5% 0, 100% 100%, 0 100%);
        transform: rotate(-45deg);
        z-index: 1;


        h4 {
            font-size: 0.75rem;
            color: white;
        }
    }
}


section#team {
    background: $color-primary-light;

    .card {
        border: none;

        img {
            border-radius: 0;
        }

        .card-body {
            h4, i {
                font-size: 0.9rem;
            }
            .designation {
                color: $color-secondary;
            }
            i {
                color: $color-text-quaternary;
            }
        }

    }
}


section#trial .container {
    border-bottom: 1px solid $color-primary-light;

    h3 {
        font-size: 1.875rem;

        span {
            color: $color-secondary;
        }
    }
    h5 {
        font-size: 0.8rem;
    }

    button.button:nth-child(2) {
        background: $color-secondary;
        border-color: $color-secondary;

        &:hover {
            color: $color-secondary;
            background: white;
        }
    }
}


footer .fluid-container {
    h3 {
        color: $color-text-tertiary;
        font-size: 1.125rem;
    }
    h4 {
        font-size: 0.875rem;
        color: $color-text-secondary;

        span {
            color: $color-text-tertiary;
        }
    }
    input {
        font-family: 'Karla', sans-serif;
        font-size: 0.875rem;
        border: 1px solid $color-primary-light;
        color: $color-text-secondary;
        &:focus {
            outline: none;
        }
    }
    button {
        border-radius: 0;
        padding: 8px 9px 9px;
        margin-left: -5px;
        color: white;
        transform: translateY(1px);
    }

    &.footer_top .container {
        border-bottom: 1px solid $color-primary-light;
    }

    &.footer_top::after,
    &.footer_bottom::after {
        content: "";
        width: 20%;
        height: 21.5rem;
        position: absolute;
        bottom: 0;
    }
    &.footer_top::after {
        left: 0;
        background: $color-secondary;
        clip-path: polygon(0 0, 100% 100%, 0 100%);
    }
    &.footer_bottom::after {
        right: 0;
        background: $color-primary;
        clip-path: polygon(100% 0, 100% 100%, 0 100%);
    }
}






// COMPONENTS
.button {
    font-size: 0.86rem;
    color: white;
    background: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
        background: white;
        color: $color-primary;
    }
    &:focus {
        outline: none;
    }
}

.sectionHeading {
    h2 {
        font-size: 1.875rem;
    }
    h4 {
        font-size: 1.125rem;
    }
}


// SLICK DESIGN
.slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .2s ease-in-out;

    li {
        margin: 0 0.25rem;
    }

    button {
        background: transparent;
        display: block;
        width: 0.8rem;
        height: 0.8rem;
        padding: 0;
        border: 2px solid rgba($color: #ffffff, $alpha: .3);
        border-radius: 50%;
        text-indent: -9999px;
        transition: all .5s ease-in-out;
    }

    button:focus {
        outline: none;
    }

    li.slick-active button {
        border: 2px solid white;
    }
}