@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
    --color-primary: #00e0d0;
    --color-overlay-one: #09052f;
    --color-overlay-two: #311d5e;

    --color-text-primary: #413d4b;
    --color-text-secondary: #2f2d35;
    --color-text-tertiary: #333333;

    --color-white-primary: #e6e6e6;
    
    --gradient-overlay-one-ltr: linear-gradient(to right, rgba(9, 5, 47, 0.8), rgba(49, 29, 94, 0.8));
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}


header {
    nav {
        transition: all .4s ease-in-out;

        .nav-item {

            .nav-link {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 0.86rem;
            }
        }
    }
    .carousel {
        .carousel-indicators li {
            width: 8px;
            height: 8px;
            background: none;
            border: 1px solid white;
            border-radius: 50%;
            margin: 10px 4px;

            &.active {
                background: var(--color-primary);
                border-color: var(--color-primary);
            }
        }
        .carousel-inner {
            background: var(--gradient-overlay-one-ltr), url('../images/bg_main.jpg');
            background-size: cover;

            h1 {
                font-family: 'Playfair Display', serif;
                font-weight: 700;
            }
            p {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                line-height: 1.8;
                font-size: 0.98rem;
            }
        }
    }
}


section {
    &#story_text {
        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: 700;
            font-size: 1.4rem;
            color: var(--color-text-primary);
        }
        p {
            font-size: 0.9rem;
            color: var(--color-text-primary);
        }
    }

    &#story_video {
        background: var(--gradient-overlay-one-ltr), url('../images/bg_video.jpg');
        background-size: cover;

        .container {
            height: 450px;

            a img {
                    height: 156px;
                    width: 156px;
            }
            p {
                font-family: 'Roboto', sans-serif;
                font-size: 0.94rem;
                font-weight: 700;
            }
        }
    }

    &#expertise {
        .container {
            .row div{

                @media only screen and (max-width: 768px) {
                    border: none;

                    &:not(:last-child) {
                        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.08);
                    }
                }

                i {
                    font-size: 3.6rem;
                    color: transparent;
                    background: linear-gradient(to right top, lighten(#00e0d0, 15%), darken(#00e0d0, 15%));
                    -webkit-background-clip: text;
                }
                h4 {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 0.9rem;
                    color: var(--color-text-primary);
                }
                p {
                    font-family: 'Roboto', sans-serif;
                    font-size: 0.8rem;
                    color: var(--color-text-tertiary);
                    opacity: 0.9;
                }
            }
        }
    }

    &#teams {
        background: var(--gradient-overlay-one-ltr), url('../images/bg_main.jpg');
        background-size: cover;

        .card {
            background: none;
            border: none;

            @media only screen and (max-width: 992px) {
                width: 80%;
            }

            @media only screen and (max-width: 768px) {
                width: 100%;
            }
            @media only screen and (max-width: 575px) {
                width: 60%;
            }
            @media only screen and (max-width: 500px) {
                width: 70%;
            }

            .card-image-top {
                height: 100%;
            }
            .card-body {
                border: 1px solid rgba($color: #e6e6e6, $alpha: .5);
                border-radius: 0;

                h4 {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-size: 1rem;
                }
                p {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    font-size: 0.86rem;
                }
            }
        }
        .bottom-text {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 0.8rem;
        }
    }

    &#works {
        .container .row .col {
            h4 {
                font-family: 'Playfair Display', serif;
                font-weight: 700;
                font-size: 1.4rem;
                color: var(--color-text-primary);
            }
            a {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: 1rem;
                color: var(--color-text-primary);
            }
        }
        .fluid-container .row div {
            height: 10rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &#testimonial {
        background: var(--gradient-overlay-one-ltr), url('../images/bg_main.jpg');
        background-size: cover;
        
        .headQuote img {
            width: 44px;
            height: 44px;
        }

        .slider_top .slide {
            color: white;
            p {
                font-family: 'Playfair Display', serif;
                line-height: 2;
            }
            h2, h3 {
                font-family: 'Roboto', sans-serif;
            }
            h2 {
                font-size: 0.9rem;
            }
            h3 {
                font-size: 0.86rem;
            }
        }

        .slider_bottom {
            max-width: 480px;

            .slide {
                &:focus {
                    outline: none;
                }

                img {
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    transition: all .4s ease-in-out;
                }
            }
        }
        .slick-prev, .slick-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: none;
            color: white;
            font-size: 2rem;

            &:focus {
                outline: none;
            }
        }
        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }
        .slick-track {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .slick-current img {
            transform: scale(1.4);
        }
    }

    &#contact {
        h4 {
            font-family: 'Playfair Display', serif;
            font-weight: 700;
            font-size: 1.4rem;
            color: var(--color-text-primary);
        }
        form {
            input, textarea {
                resize: none;
                width: 100%;
                border: 1px solid rgba($color: gray, $alpha: .3);
                border-radius: 3px;

                &:focus {
                    outline: none;
                }
            }
        }
        .client_images .col-sm-6 {
            height: 90px;
        }
    }
}


footer {
    background: var(--gradient-overlay-one-ltr), url('../images/bg_footer.jpg');
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;

    .fUpper {
        p {
            font-size: 0.9rem;
            line-height: 1.75;
        }
        .text i {
            font-size: 1.1rem;
        }
        form {
            input {
                background: transparent;
                border: 1px solid rgba($color: white, $alpha: 0.3);
                width: 214px;
                color: white;

                &:focus {
                    outline: none;
                }
            }
            button {
                background: rgba($color: white, $alpha: 0.4);
                border: none;
                width: 60px;
                transform: scaleX(1.2) translate(20%);

                i {
                    font-size: 1.2rem;
                }
            }
        }
        .social i {
            font-size: 1rem;
            border: 1px solid white;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            &:nth-child(1){
                padding: 6px 0 0 9px;
            }
            &:nth-child(2){
                padding: 6px 0 0 7px;
            }
            &:nth-child(3){
                padding: 6px 0 0 6px;
            }
            &:nth-child(4){
                padding: 6px 0 0 7px;
            }
            &:nth-child(5){
                padding: 6px 0 0 6px;
            }
            &:nth-child(6){
                padding: 6px 0 0 5px;
            }
        }
    }

    .fLower {
        font-size: 0.9rem;

        ul li a {
            color: white;

            &:hover {
                color: white;
            }
        }
    }
}


.section_heading_dark,
.section_heading_light {
    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--color-text-primary);
    }

    p {
        font-family: 'Playfair Display', serif;
        font-size: 0.8rem;
        letter-spacing: 1px;
        color: var(--color-text-secondary);
    }
    &::after {
        height: 2px !important;
        opacity: 0.3;
    }
}
.section_heading_dark {
    h2 {
        color: var(--color-text-primary);
    }
    p {
        color: var(--color-text-secondary);
    }
    &::after {
        background-color: var(--color-text-primary) !important;
    }
}
.section_heading_light {
    h2 {
        color: white;
    }
    p {
        color: white;
    }
    &::after {
        background-color: white !important;
    }
}

.bg-black {
    background: rgba($color: #000000, $alpha: .9);
}
.bg-primary {
    background: var(--color-primary);
}

.br {border-right: 1px solid rgba($color: #000000, $alpha: 0.08);}
.bb {border-bottom: 1px solid rgba($color: #000000, $alpha: 0.08);}

.sp {
    position: relative;
}
.sp::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: var(--color-primary);
    transform: translateX(-50%);
}

.btn {
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 7px 16px 5px;

    border: 1px solid var(--color-primary);
    border-radius: 3px;
    color: var(--color-primary);

    &:hover {
        background-color: var(--color-primary);
    }
}